OPENAI_API_KEY=
TAVILY_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=agentis
DATABASE_URL=postgresql+asyncpg://agentis:agentis123@postgres:5432/agentisdb
REDIS_URL=redis://redis:6379/0
CHROMADB_HOST=chromadb
CHROMADB_PORT=8000
EMBEDDING_MODEL=text-embedding-3-small
